---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">
    {{ content }}
  </div>
  <h2>Featured Post</h2>
  {%- assign feedType = page.feed-type -%}
  {%- assign displayOffset = 0 -%}
  {%- assign displayLimit = 1 -%}
  {%- assign sectionName = "featured-post" -%}
  {%- if feedType == "Prelim" or feedType == "Midterm" or feedType == "Finals"-%}
    {% include feed.html %}
  {%- endif -%}

  <h2>Post</h2>
  {%- assign feedType = page.feed-type -%}
  {%- assign displayOffset = 1 -%}
  {%- assign displayLimit = null -%}
  {%- assign sectionName = "feed" -%}
  {%- if feedType == "Prelim" or feedType == "Midterm" or feedType == "Finals"-%}
    {% include feed.html %}
  {%- endif -%}

</article>
